<nb-card>
  <nb-card-header>
    Name Translation List
  </nb-card-header>

  <nb-card-body>
    <div class="buttons-row">
      <ng-template #popContent><app-import-form></app-import-form></ng-template>
      <button nbButton status="primary" [nbPopover]="popContent" hero>
        Import CSV
      </button>
      <span style="margin-left: 50px"></span>
      <nb-select placeholder="Select Showcase" [(selected)]="langList[0]">
        <nb-option> All</nb-option>
        <nb-option *ngFor="let lang of langList" [value]="lang">{{lang.title}}</nb-option>
      </nb-select >
    </div>
    <br>
    <ng2-smart-table
      [settings]="settings" [source]="source"
      (createConfirm)="onCreateConfirm($event)"
      (editConfirm)="onSaveConfirm($event)"
      (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
